body {
    font-family: lato,sans-serif;
    color: #4a4a4a;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
    margin: 0;
    padding: 0;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    background-size: cover;
}


.App {
  text-align: center;
  height: 100vh;
}

.Content {
  margin: auto;
  width: 500px;
  position: relative;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  top: 30%
}